<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link>
    <script src="https://kit.fontawesome.com/47f954a9fa.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <il><a href="/">home</a></il>
                <il><a href="/about">about</a></il>
                <il><a href="/music">music</a></il>
                <il><a href="/contact">contact</a></il>
            </ul>
        </nav>
        <nav>
           <a href=""><i class="fa-brands fa-twitter"></i></a>
           <a href=""><i class="fa-brands fa-facebook"></i></a>
           <a href=""><i class="fa-brands fa-spotify"></i></a>
           <a href=""><i class="fa-brands fa-apple"></i></a>
           <a href=""><i class="fa-brands fa-amazon"></i></a>
           <a href=""><i class="fa-brands fa-instagram-square"></i></a>
        </nav>
    </header>
    <br>
    
</body>
</html>